<!DOCTYPE html>
<html>  
<head>
    <title>Mini-Games</title>
    <div class="Title">Mini-Game Arcade</div>  
</head>
<link rel ="stylesheet" href="main.css">
<body>
    <div class="topNav">

        <div class ="navItem" id="logo">
            <img src="../assets/LOGO.png">
        </div>

        <div class="navItem" id="nav">
            <a href="#home" class="button home-button"><img src="../assets/Home-icon.png" alt="Home"><span class="popup">Home</span></a>

            <div class="game-dropdown">
                <button href="#games" class="button game-button"><img src="../assets/game-icon.png" alt="Games"><!-- <span class="popup">Games</span> --></button>
               
                <div class="game-dropdown-content">

                    <div class="game-item">
                        <img src="game1.jpg" alt="Game 1">
                        <span>Game 1</span>
                    </div>

                    <div class="game-item">
                        <img src="game2.jpg" alt="Game 2">
                        <span>Game 2</span>
                    </div>

                    <div class="game-item">
                        <img src="game3.jpg" alt="Game 3">
                        <span>Game 3</span>
                    </div>

                    <div class="game-item">
                        <img src="game4.jpg" alt="Game 4">
                        <span>Game 3</span>
                    </div>

                </div>
                
            </div>

            <a href="#contact" class="button contact-button"><img src="../assets/contact-icon.png" alt="Contact"><span class="popup">Contact</span></a>
            <a href="#leaderboard" class="button leaderboard-button"><img src="../assets/leaderboardicon.png" alt="leaderboard"><span class="popup">Leaderboard</span></a>
        </div>

        <div class="navItem" id="signOut">
            <a href="#signOut" class="signOut-button"><img src="../assets/login-icon.png"></a>
        </div>
        
    </div>
    <div class="bodyDiv">
        
        
        

    </div>
</body>
</html>