<!DOCTYPE html>
<html>
<head>
    <title>Mini-Games</title>
</head>

<link rel ="stylesheet" href="main.css">



<body>

    
<div class="topNav">

    <div class ="navItem" id="logo">
        <img src="../assets/LOGO.png">
    </div>

    <div class ="navItem" id="nav">
        <!-- AKHI code this part here, this is the div that will be responsible for the 4 buttons, home, game -->
        


    </div>

    <div class="navItem" id="signOut">
        <img src="../assets/login icon.png">
    </div>

</div>
    
</body>