/* Styling for the top navigation bar */
.topNav {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items in a row */
    flex-flow: row wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Spread items evenly horizontally */
    background-color: #193725; /* Background color */
    background-image: linear-gradient(#193725, #1f432d); /* Gradient background */
    box-shadow: 0px 5px 10px #000000; /* Add shadow for a visual effect */
    border-radius: 50px; /* Round the corners */
    border-width: 3px;
    border-style: solid; /* Solid border style */
    border-color: #193725; /* Border color */
    width: 100%; /* Take up the full width of the container */
    height: 90px; /* Set the height of the navigation bar */
    margin-top: -40px; /* Adjust the margin to fine-tune the layout */
    align-items: center; /* Center items vertically */
}


/* Styling for navigation items */
.navItem {
    display: flex; /* Use flex layout for .navItem */
    height: 100%; /* Set the height to 100% */
}


/* Styling for the navigation container */
#nav {
    border-style: solid; /* Solid border style */
    border-radius: 50px; /* Round the corners */
    border-color: #305A4166; /* Border color with transparency */
    background-color: rgb(38, 65, 48, 0.8); /* Background color with transparency */
    border-width: 5px; /* Border width */
    align-items: center; /* Center items vertically */
    height: 50%; /* Set the height to 50% */
    margin-bottom: 25px; /* Adjust the margin to fine-tune the layout */
    box-shadow: 0 2px 15px #000000; /* Add shadow for a visual effect */
}


/* Styling for buttons and their popups */
.button {
    display: inline-block; /* Display as inline-block */
    padding: 10px; /* Add padding around the buttons */
    margin: 0 15px; /* Set margins around the buttons */
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    border: none; /* No border */
    position: relative; /* Define a positioning context */
}


/* Styling for images within buttons */
.button img {
    width: 32px; /* Set the image width */
    height: 32px; /* Set the image height */
    border: none; /* No border on the image */
    text-decoration: none; /* Remove text decoration */
}


/* Styling for the popup that appears when hovering over a button */
.popup {
    display: none; /* Initially, hide the popup */
    position: absolute; /* Position it absolutely within the button */
    background-color: rgba(0, 0, 0, 0.4); /* Background color with transparency */
    color: white; /* Text color */
    padding: 5px; /* Padding around the text */
    border-radius: 5px; /* Round the corners */
    bottom: -25%; /* Position the popup relative to the button */
    left: 50%; /* Horizontally center the popup */
    transform: translateX(-50%); /* Center the popup horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: fadeIn 0.9s 0.5s both; /* Add a fade-in animation */
}


/* Keyframes animation for fading in the popup */
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity (hidden) */
    }
    to {
        opacity: 1; /* End with 1 opacity (fully visible) */
    }
}


/* Display the popup when hovering over a button */
.button:hover .popup {
    display: block; /* Make the popup visible on hover */
}


/* Styling for images within navigation items */
.navItem img {
    max-height: 90%; /* Set a maximum height for images */
    width: auto; /* Allow images to adjust width */
}


/* Styling for the first navigation item */
.navItem:first-child {
    margin-left: 10px; /* Add a left margin */
    margin-top: -15px; /* Adjust the top margin */
    width: 0 auto; /* Center horizontally */
    height: 127px; /* Set the height */
}


/* Styling for the last navigation item */
.navItem:last-child {
    margin-right: 18px; /* Add a right margin */
    margin-top: -9px; /* Adjust the top margin */
    width: 0 auto; /* Center horizontally */
    height: 70px; /* Set the height */
}


/* Styling for the body element */
body {
    margin-top: 10vh; /* Add top margin to the body */
    background-color: rgb(43, 84, 61); /* Background color */
}


/* Styling for the title */
.Title {
    font-size: 30px; /* Set the font size */
    font-weight: 600; /* Set the font weight */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Font family */
    letter-spacing: 1.5px; /* Add letter spacing */
    color: rgb(181, 215, 179, 0.3); /* Text color with transparency */
    text-shadow: 0px 5px 10px #000000; /* Add a text shadow */
    text-align: center; /* Center-align the text */
    position: sticky; /* Set the position to sticky */
    z-index: 2; /* Set the stacking order */
    margin-left: 0px; /* Adjust left margin */
    margin-top: -70px; /* Adjust top margin */
    margin-bottom: 50px; /* Adjust bottom margin */
}


/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .topNav {
        flex-direction: column; /* Change direction to column on smaller screens */
        height: auto; /* Allow height to adjust */
        align-items: center; /* Center-align items */
    }
    
    .Title {
        margin-left: 0; /* Remove the margin on smaller screens */
        margin-top: 10px; /* Add space between the logo and title */
    }
}




/* GAME DROP DOWN MENU */

.game-dropdown {
    position: relative;
    display: inline-block;
}

.game-dropdown .game-dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 3;
}
.game-dropdown:hover .game-dropdown-content {
    display: block;
}


.bodyDiv{
    background-color: #193725; /* Background color */
    border-radius: 50px; /* Round the corners */
    border-width: 3px;
    border-style: solid; /* Solid border style */
    border-color: #193725; /* Border color */
    margin-top: 5px;
    height: 70vh;
}




