/* Styling for the top navigation bar */
.topNav {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items in a row */
    flex-flow: row wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Spread items evenly horizontally */
    background-color: #193725; /* Background color */
    background-image: linear-gradient(#193725, #1f432d); /* Gradient background */
    
    box-shadow:  37px 37px 45px #12281b,
                 -37px -37px 45px rgb(32, 70, 47);/* Add shadow for a visual effect */


    border-radius: 50px; /* Round the corners */
    border-width: 3px;
    border-style: solid; /* Solid border style */
    border-color: #193725; /* Border color */
    width: 100%; /* Take up the full width of the container */
    height: 90px; /* Set the height of the navigation bar */
    margin-top: -40px; /* Adjust the margin to fine-tune the layout */
    align-items: center; /* Center items vertically */
    z-index: 4;
    
}


/* Styling for navigation items */
.navItem {
    display: flex; /* Use flex layout for .navItem */
    height: 100%; /* Set the height to 100% */
}


/* Styling for the navigation container */
#nav {
    border-style: solid; /* Solid border style */
    border-radius: 50px; /* Round the corners */
    border-color: #305A4166; /* Border color with transparency */
    background-color: rgb(38, 65, 48, 0.8); /* Background color with transparency */
    border-width: 5px; /* Border width */
    align-items: center; /* Center items vertically */
    height: 50%; /* Set the height to 50% */
    margin-bottom: 5px; /* Adjust the margin to fine-tune the layout */
    box-shadow: 0 2px 15px #000000; /* Add shadow for a visual effect */
}


/* Styling for buttons and their popups */
.button {
    display: inline-block; /* Display as inline-block */
    padding: 10px; /* Add padding around the buttons */
    margin: 0 15px; /* Set margins around the buttons */
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    border: none; /* No border */
    position: relative; /* Define a positioning context */
}


/* Styling for images within buttons */
.button img {
    width: 32px; /* Set the image width */
    height: 32px; /* Set the image height */
    border: none; /* No border on the image */
    text-decoration: none; /* Remove text decoration */
}


/* Styling for the popup that appears when hovering over a button */
.popup {
    display: none; /* Initially, hide the popup */
    position: absolute; /* Position it absolutely within the button */
    background-color: rgba(0, 0, 0, 0.4); /* Background color with transparency */
    color: white; /* Text color */
    padding: 5px; /* Padding around the text */
    border-radius: 5px; /* Round the corners */
    bottom: -25%; /* Position the popup relative to the button */
    left: 50%; /* Horizontally center the popup */
    transform: translateX(-50%); /* Center the popup horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: fadeIn 0.05s 0.05s both; /* Add a fade-in animation */
}


/* Keyframes animation for fading in the popup */
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity (hidden) */
    }
    to {
        opacity: 1; /* End with 1 opacity (fully visible) */
    }
}


/* Display the popup when hovering over a button */
.button:hover .popup {
    display: block; /* Make the popup visible on hover */
}


/* Styling for images within navigation items */
.navItem img {
    max-height: 90%; /* Set a maximum height for images */
    width: auto; /* Allow images to adjust width */
}



/* The below :focus will make it easier for user to tell which page they are on*/


#homeClick:focus 
{ 
    border:rgb(0, 0, 0, 0);
    border-bottom: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-bottom-width: 20px;
    border-top-width: 20px;
    border-radius: 10px;
    border-collapse: collapse;  
}


#contactClick:focus 
{ 
    border:rgb(0, 0, 0, 0);
    border-bottom: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-bottom-width: 20px;
    border-top-width: 20px;
    border-radius: 10px;
    border-collapse: collapse;  
 }



 #leaderboardClick:focus 
{ 
    border:rgb(0, 0, 0, 0);
    border-bottom: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-bottom-width: 20px;
    border-top-width: 20px;
    border-radius: 10px;
    border-collapse: collapse;  
 }



/* The below :active will make the site look more respomsiove- once a button is clicked size will decrease of button slightly */
#homeClick:active { transform: scale(0.9);  border: none; }

#contactClick:active { transform: scale(0.9);  border: none; }

#leaderboardClick:active { transform: scale(0.9);  border: none; }

#signOutClick:active { transform: scale(0.9);  border: none; }


/* Styling for the first navigation item */
.navItem:first-child {
    margin-left: 20px; /* Add a left margin */
    margin-top: -5px; /* Adjust the top margin */
    width: 0 auto; /* Center horizontally */
    height: 0 auto; /* Set the height */
}


/* Styling for the last navigation item */
.navItem:last-child {
    margin-right: 18px; /* Add a right margin */
    margin-top: 3px; /* Adjust the top margin */
    width: 0 auto; /* Center horizontally */
    height: 60px; /* Set the height */
}


/* Styling for the body element */
body {
    margin-top: 10vh; /* Add top margin to the body */
    background-color: rgb(43, 84, 61); /* Background color */
}


/* Styling for the title */
.Title {
    font-size: 30px; /* Set the font size */
    font-weight: 600; /* Set the font weight */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Font family */
    letter-spacing: 1.5px; /* Add letter spacing */
    color: rgb(181, 215, 179, 0.3); /* Text color with transparency */
    text-shadow: 0px 5px 10px #000000; /* Add a text shadow */
    text-align: center; /* Center-align the text */
    position: sticky; /* Set the position to sticky */
    z-index: 4; /* Set the stacking order */
    margin-left: 0px; /* Adjust left margin */
    margin-top: -50px; /* Adjust top margin */
    margin-bottom: 50px; /* Adjust bottom margin */
}


/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .topNav {
        flex-direction: column; /* Change direction to column on smaller screens */
        height: auto; /* Allow height to adjust */
        align-items: center; /* Center-align items */
    }
    
    .Title {
        margin-left: 0; /* Remove the margin on smaller screens */
        margin-top: 10px; /* Add space between the logo and title */
    }
}




/* GAME DROP DOWN MENU */

.game-dropdown {
    position: relative;
    display: inline-block;
}

.game-dropdown .game-dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 5;
    margin-left: -110px;
    margin-top: -1px;

    border-style: solid;
    border-color: rgb(18, 40, 27, 0.3);
    border-width: 3px;
    border-radius: 58px;   

    background-color: #193725; /* Background color */
    background-image: linear-gradient( #1f432d,#142f1f); 
    box-shadow:  50px 50px 100px rgb(18, 40, 27),
                -50px -50px 100px rgb(32, 70, 47, 0.3);

    -webkit-animation: scale-up-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
     animation: scale-up-top 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  




.game-dropdown:hover .game-dropdown-content {
    display: block;
    transition: opacity 0.9;
}




.game-dropdown .game-item {
    display: flex;
    align-items: center;
    padding: 20px;
  
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
  
}


.game-dropdown .game-item span {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 16px;
   
}




/* this is where the game is shown */
.bodyDiv{
    background-color: #193725; /* Background color */
    border-radius: 50px; /* Round the corners */
    border-width: 3px;
    border-style: solid; /* Solid border style */
    border-color: #193725; /* Border color */
    margin-top: 5px;
    height: 100%;
}




#blackjack-button {
    background-image: url("../assets/blackjackcards.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-color: #cccccc;
    background-size: contain;
}

#numberguesser-button {
    background-image: url("../TheNumberGuesserGame/cutcube.png");
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    background-size: contain;
}

a {
    text-decoration: none;
    color: white;
}

                                /* all the bottim is waldo code, code for thumbnails n shit*/

/*  
#blackjack{
/* float:right; */
/* position:absolute;
margin-left:20%; 

}

#number{
     position: absolute; 
}

#tic{
     margin-left:40%; 

}
#rock{
     margin-left:60%; 

} */

#flexbox{
    color:rgb(160, 209, 149);
    font-family: monospace;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 15px;
    
}

.flexbox-image{
    display:flex;
    justify-content: space-evenly;
    align-items: center;   
}

#numberGuesserImg{
     opacity:40%; 
    
}

.aboutus {
    font-size:xx-large;
    background: -webkit-linear-gradient(rgba(212, 244, 211, 0.7), rgba(37, 246, 0, 0.3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    text-align: center;
}


.container {
    display: flexbox;
    flex-wrap: nowrap;
    height: 75%;
    padding: 80px;
    gap: 10px;

    background-image: linear-gradient(#193725, #83a590); /* Gradient background */
    border-radius: 47px;
  }

.waleeds-weird-imgs {

    border-style: groove;
    border: #4bc37d;
    border-width: 50px;
    border-radius: 20px;


}
