<!DOCTYPE html>
<html>  
<head>
    <title>Mini-Games</title>
    <div class="Title">Mini-Game Arcade</div>  
</head>
<link rel ="stylesheet" href="main.css">
<body>
    <div class="topNav">

        <div class ="navItem" id="logo">
            <img id="logoImage" src="">
        </div>

        <div class="navItem" id="nav">
            <a href="#home" class="button home-button" id="homeClick" ><img src="
                ../assets/Home-icon.png" alt="Home"><span class="popup">Home</span></a>

            <div class="game-dropdown">
                <button href="#games" class="button game-button" ><img src="../assets/game-icon.png" alt="Games"><!-- <span class="popup">Games</span> --></button>
               
                <div class="game-dropdown-content">
                    


                    <a href="../TheNumberGuesserGame/numG.html">
                        <div class="game-item" id="numberguesser-button">
                            <span>Number Guesser</span>
                        </div>
                    </a>

                    <a href="../blackjack/blackjack.html">
                        <div class="game-item" id="blackjack-button">
                        
                                <span> BlackJack </span>
                        
                        </div>
                     </a>

                    <div class="game-item">
                        <span>Game 3</span>
                    </div>

                    <div class="game-item">
                       
                        <span>Game 3</span>
                    </div>

                </div>
                
            </div>

            <a href="../contact.html" class="button contact-button" id="contactClick"><img src="../assets/contact-icon.png" alt="Contact"><span class="popup">Contact</span></a>
            <a href="#leaderboard" class="button leaderboard-button" id="leaderboardClick"><img src="../assets/leaderboardicon.png" alt="leaderboard"><span class="popup">Leaderboard</span></a>
        </div>

        <div class="navItem" id="signOut">
            <a href="#signOut" class="signOut-button"  id="signOutClick"><img src="../assets/login-icon.png"></a>
        </div>
        
    </div>
    <div class="bodyDiv">
        
        <div id = 'flexbox'>
        <h1 id ="blackjack">blackjack </h1>
            
        <h1 id ="number">numberguesser </h1>

        <h1 id ="tic">tic-tac-toe</h1>

        <h1 id ="rock">rock paper scissors </h1>
        
    </div>
    <div class="flexbox-image">
    <a href ="../blackjack/blackjack.html"><img src ="https://media.tenor.com/6Ubv-SJ7GlUAAAAd/dream-luigi.gif" width=350px height="350px   "></a>   
    
    <a href ="../TheNumberGuesserGame/numG.html"><img id = "numberGuesserImg" src ="https://media.tenor.com/DWZBAXWeDiAAAAAC/traumferienwohnungen-traum.gif" width=350px height="350px   "></a> 
      
    <a href ="../TheNumberGuesserGame/numG.html"><img src ="https://media.tenor.com/2Wna237peasAAAAd/tic-tac-toe-robot.gif" width="350px height=350px   "></a>   
    <a href ="../TheNumberGuesserGame/numG.html"><img src ="https://media.tenor.com/w4D_nLOzz7oAAAAC/ufc-rock-paper-scissors.gif" width=350px height="350px   "></a>   
    </div>
</div>
    
<!-- the below script is to randomly change the logo img -->
        <script>
        
            // Array of possible logo image sources
            var logoImages = [
                "../assets/cyndaquil-alt-giflogo.gif" ,
                "../assets/bulbasaur-alt0giflogo.gif",
                "../assets/machamp-alt-giflogo.gif",
                "../assets/starter-alt-giflogo.gif",

            ];
            // Select a random image source from the array
            var randomImageIndex = Math.floor(Math.random() * logoImages.length);
            var randomImageSource = logoImages[randomImageIndex];

            // Update the src attribute of the logo image element
            document.getElementById("logoImage").src = randomImageSource;
            
        </script>

</body>
</html>